h1 {
    text-align: center;
    font-size: 25px;
    color: red;
}
h2{
    text-align: center;
    font-size: 25px;
    color: blue;
}
h3{
    text-align: center;
    font-size: 25px;
    color: green;
}
